@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

/*body {*/
/*  !*TODO 暗黑主题*!*/
/*  background-color: #f0f5fa;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  margin: 0;*/
/*  font-family: "Quicksand", sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*覆盖 ant formitem 的 marginBottom*/
.ant-form-item {
  margin-bottom: 12px !important;
}
::-webkit-scrollbar {
  width: 0px;
}

.ant-popconfirm .ant-popconfirm-buttons {
  text-align: end;
  white-space: nowrap;
}
.ant-popconfirm .ant-popconfirm-message {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}

/*.ant-popover .ant-popover-inner-content {*/
/*  color: var(--ant-color-text);*/
/*  padding: var(--ant-popover-inner-content-padding);*/
/*}*/

.ant-popconfirm .ant-popconfirm-message >.ant-popconfirm-message-icon .anticon {
  line-height: 1;
  margin-inline-end: 8px;
}

.ant-popconfirm .ant-popconfirm-buttons button {
  margin-inline-start: 8px;
}
